
.content-container{
display: flex;
flex-direction: row;
max-width: 1200px;
margin: auto;
padding: 0 2rem;
}

.news-card-container{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
 
}
.news-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    width: 100%;
    height: auto;
    padding: 1rem;

}
.news-card img {
    background-color: red;
    object-fit: cover;
    width: 100%;
    max-width: 800px;
   
}

    
.third-news-card img {
   background-color: red;
    background-position: center;
    object-fit: cover;
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 600px;
    text-align: center;
  }
  
  .third-news-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 100%;
    height: auto;
    padding: 1rem;
}
    .third-news-card h1 { 
     text-decoration: underline;
     line-height: 1.2;
     font-size: 1.5rem;
   
}

 
