.news-card {
    border: 1px solid black;
    width: 100%;
    padding: .5rem;
    max-width: 800px;
    height: auto;
    


}
.news-card img {
    background-color: red;
    object-fit: cover;
    max-width: 200px;
    max-height: 200px;
   
    

}
