@media (min-width: 650px) {
    nav {
        display: inherit;
    }
    .hamburger {
        visibility: hidden;

    }
    .nav-list {
        display: flex;
        justify-content: flex-end;
        gap: 2rem;
        padding: .5rem;
        padding-bottom: 0;
        list-style: none;
        margin-right: 2rem;
    }
}