@media (min-width: 650px) {
    nav {
        display: inherit;
    }
    .hamburger {
        visibility: hidden;

    }
    .nav-list {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 1rem;
        padding: .5rem;
        padding-bottom: 0;
        list-style: none;
        position: unset;
        transform: none;
        z-index: 100;
        background: none;
        list-style: none;
        padding-top: .5rem;
    }
    .nav-btn {
        color: #000;
        margin-left: 2rem;
    }
}

