* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --clr-main-blue: #004AAD;
    --clr-menu-blue: #004bade7;
    --ff-main-font: 'Roboto', sans-serif;
}

body {
    width: 100%;
    overflow-x: hidden;
    font-family: var(--ff-main-font);
}


header {
    border-bottom: 1rem solid var(--clr-main-blue);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-bottom: 0;
    position: sticky;
    top: 0;
    background-color: #fff;

}
#header-logo {
    width: 4rem;
}

.title {
    font-weight: 400;
    text-shadow: 0px 5px 7px rgba(0, 0, 0, 0.68);
}

.hamburger, .close-btn {
    border: none;
    background: none;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.67);
    z-index: 100;

}

.hamburger:hover {
    color: black;
    cursor: pointer;
}

#close-btn {
    display: none;
    color: #fff;
}

/* nav {
    display: none;
} */
.nav-list {
    position: fixed;
    transform: translateY(-100%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 60%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5% ;
    z-index: 99;
    background: var(--clr-menu-blue);
    color: #fff;
    list-style: none;
    padding-top: 4rem;

}

.showMenu {
    transform: translateY(0);
}

.nav-item, .nav-btn {
    text-decoration: none;
    font-size: 1.3rem;
}

.nav-btn {
    border: none;
    background: none;
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.6;
    margin-left: 3rem;
}

.searchbar {
    width: 95%;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    border-color: rgba(129, 96, 221);
    border: 1px solid rgba(0, 0, 0, 0.67);
    margin: .7rem;
}
.search-input {
    /* width: 90%; */
    background: transparent;
    flex: 1;
    border: none;
    padding: 1rem .8rem;
    font-size: 1rem;
    color: black;
    margin-left: 2rem;
}

.search-btn {
    border: none;
    border-radius: 50%;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.67);
    background: none;
} 

.fa-magnifying-glass {
    margin: .5rem;
}

